### Strings

    Ordered Sequential 
    
            indexing / slicing

### Indexing

    accessing a single member / item from an iterable / collection type
    
    index is a value which denotes position of item in sequence

In [2]:
s = "Hello World!"

In [4]:
a1 = s[4]
print(a1) # 1 "o"
a2 = s[9]
print(a2) # 2 "l"
a3 = s[-8]
print(a3) # 3 "o"
a4 = s[-1]
print(a4) # 4 "!"

o
l
o
!

In [6]:
s = "Hello World!"
ns = s[3:10:1]
print(repr(ns))

'lo Worl'

In [7]:
s = "Hello World!"
ns = s[3:10]
print(repr(ns))

'lo Worl'

##### Slicing 

    taking a sub sequence out of sequence
    
        by default step value is 1
    
    seq[start:end:step] or seq[start:end]

`seq[:n]` create a sub-seq taking first n values from seq

In [9]:
print(s[:5])

Hello

In [10]:
print(s[6:11]) # step=1

World

In [12]:
s = "Hello World!"
ns = s[-8:-12]
print(repr(ns))

''

In [14]:
s = "Hello World!"
ns = s[-6:-2]
print(repr(ns))

'Worl'

In [15]:
s = "Hello World!"
ns = s[:-1]
print(repr(ns))

'Hello World'

In [16]:
s = "Hello World!"
ns = s[:-7]
print(repr(ns))

'Hello'

`seq[:-n]` create a sub seq excluding last n members / items from seq

In [17]:
s = "hello world da da"

In [18]:
ns = s[:-6]
print(ns)

hello world

In [20]:
line = "hello I am a line\n"

new_line = line[:-1]

print(repr(line))
print(repr(new_line))

'hello I am a line\n'
'hello I am a line'

In [21]:
s = "Hello World!"
ns = s[-6:]
print(repr(ns))

'World!'

In [22]:
s = "Hello World!"
ns = s[-5:]
print(repr(ns))

'orld!'

`seq[-n:]` - create a sub seq by reading last n members/items from seq

In [23]:
s = "Hello World!"
ns = s[-8:-2]
print(repr(ns))

'o Worl'

    slicing is possible or not
    
        if it is not possible return blank string
        
        if it is possbile it starts create sub-sequence

-8 -12


          __________________________
    
    
    -inf           0                +inf

In [25]:
# Abstraction
def my_slice(seq, start, end, step):
    if step >= 1:
        # Left to Right
        if end >= start:
            # posible
            return seq[start:end:step]
        else:
            # not possible
            return ""
    else:
        # Right to Left
        pass

In [26]:
s = "hello"

In [29]:
ns = s[1000:20000]
print(repr(ns))

''

In [30]:
s = "Hello World!"
ns = s[2:10:2]
print(repr(ns))

'loWr'

In [31]:
s = "Hello World!"
ns = s[::2]
print(repr(ns))

'HloWrd'

In [33]:
s = "Hello World!"
ns = s[10:4:-1]
print(repr(ns))

'dlroW '

In [34]:
s = "Hello World!"
ns = s[::-1]
print(repr(ns))

'!dlroW olleH'

#### Slicing is Important

### List Data Type

    collection of valid python object
    
    multable 
    
    ordered sequential
    
    homogenous (array) or hetrogenous

In [38]:
# array of string
# homogenous list 
#           -7      -6      -5        -4        -3       -2         -1
names = ["vijay", "sam", "neeraj", "rupali", "sakshi", "tanvi", "sarthak"]
#           0        1        2       3         4         5         6

In [39]:
n = names[3]
print(n) # ? string -> "rupali"

rupali

In [40]:
n = names[::2] # ?  
print(n) # ["vijay", "neeraj", "sakshi", "sarthak"]

['vijay', 'neeraj', 'sakshi', 'sarthak']

In [41]:
print(names)

['vijay', 'sam', 'neeraj', 'rupali', 'sakshi', 'tanvi', 'sarthak']

In [42]:
new_names = names[::-1]

In [43]:
print(new_names)

['sarthak', 'tanvi', 'sakshi', 'rupali', 'neeraj', 'sam', 'vijay']

In [44]:
print(names)

['vijay', 'sam', 'neeraj', 'rupali', 'sakshi', 'tanvi', 'sarthak']

In [45]:
first_3 = names[:3]
print(first_3)

['vijay', 'sam', 'neeraj']

In [46]:
last_3 = names[-3:]
print(last_3)

['sakshi', 'tanvi', 'sarthak']

### List & Dictionary