if you have any doubt let me know ?

### while loop

    while break continue else

    jupyter (web based) -> kernel (python server) -> python interterpreter (multithreading)
                        <-                         <-

!python script.py

# script -> python interpreter -> execution

In [3]:
while True:
    print('hello world!')
    break

hello world!

In [1]:
print("hello world!")
exit() # kernel
print("bye world!")

hello world!
bye world!

In [1]:
%%writefile hello.py

print("hello world!")
exit(0) # here your program will 
print("bye world!")

Overwriting hello.py

In [2]:
!python hello.py

hello world!

### For Loop 

    Iteration / Traversing ?

    collection / sequential / map / array

    collection -> iterable

In [11]:
names = ['sachin', 'rajat', 'nidhi']

# traversal of an list
i = 0
while i < len(names):
    item = names[i]
    names[i] = item.upper()
    i += 1
else:
    print(names)

['SACHIN', 'RAJAT', 'NIDHI']

In [5]:
print(names[0])

sachin

In [6]:
print(names[1])

rajat

In [7]:
print(names[2])

nidhi

data types

    int, float, complex
    string, list, tuple
    dict, set, frozenset
    None, True, False
    

**Iterable** - 

    string, list, tuple, dict, set, frozenset

In [18]:
x = 6.02
print(*x)

TypeError: print() argument after * must be an iterable, not float

In [20]:
s = "hello"

print(s) # no iteration -> single unit
print(*s) # iteration
print("h", "e", "l", "l", "o")

hello
h e l l o
h e l l o

In [22]:
a = [ 1, 2, 3 , 4]
print(a) # list
print(*a) # iterating a list inside print
print(1, 2, 3, 4)

[1, 2, 3, 4]
1 2 3 4
1 2 3 4

In [23]:
t = ('hello world!', "this is awesome", 'it is called iteration', 'do you get it guys?' )

In [24]:
# iterating and printing a tuple
print(*t, sep="\n")

hello world!
this is awesome
it is called iteration
do you get it guys?

In [30]:
from pprint import pprint

In [33]:
d = {
    "name": "python",
    "type": "programming langauge",
    "birth": 1994,
    "father": "Guido Van Rossum",
    "website": "www.python.org"
}

keys = list(d.keys())
print("keys: ", keys)
values = list(d.values())
print("values: ", values)
items = list(d.items())
print("items: ")
pprint(items)

keys:  ['name', 'type', 'birth', 'father', 'website']
values:  ['python', 'programming langauge', 1994, 'Guido Van Rossum', 'www.python.org']
items:
[('name', 'python'),
 ('type', 'programming langauge'),
 ('birth', 1994),
 ('father', 'Guido Van Rossum'),
 ('website', 'www.python.org')]

    Dictionaries
    
        keys  ?
        
        values ?
        
        items ? key-values ? 
        
    
    we iterate only keys from dictionary by Default

    d.keys()    -> returns a list like object containing all keys from dictionary
    d.vlaues()  -> returns a list like object containing all values from dictionary
    d.items()   -> returns a list like object containing all key-value from dictionary

In [26]:
d = {
    "name": "python",
    "type": "programming langauge",
    "birth": 1994,
    "father": "Guido Van Rossum",
    "website": "www.python.org"
}
print(*d, sep="\n")

name
type
birth
father
website

In [34]:
d = {
    "name": "python",
    "type": "programming langauge",
    "birth": 1994,
    "father": "Guido Van Rossum",
    "website": "www.python.org"
}

print(*d.keys(), sep=", ")

name, type, birth, father, website

In [35]:
print(*d.values(), sep=', ')

python, programming langauge, 1994, Guido Van Rossum, www.python.org

In [36]:
print(*d.items(), sep="\n")

('name', 'python')
('type', 'programming langauge')
('birth', 1994)
('father', 'Guido Van Rossum')
('website', 'www.python.org')

In [37]:
s = {1, 2, 3, 1, 2, 3, 3, 4, 5, 6, 3, 4, 5 }

In [38]:
print(s)

{1, 2, 3, 4, 5, 6}

In [39]:
print(*s, sep='\n')

1
2
3
4
5
6

### For Loop

    ment for iteration in python
    
    used to iterate iterable objects

Syntax
    
    for item in iterable:
        st-1
        st-2
        st-3
        ....
        st-n

In [40]:
for var in 12345:
    print(var)

TypeError: 'int' object is not iterable

In [42]:
s = "RAM "

ns = s*108
print(ns)

RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM RAM

In [43]:
for i in "123456789":
    print("*"*(int(i)))

*
**
***
****
*****
******
*******
********
*********

In [45]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [46]:
print("Hello") # "Hello\n" , end="\n"
print("world!")

Hello
world!

In [47]:
print("Hello", end="<-->") # "Hello\n"
print("world!")

Hello<-->world!

In [44]:
for c in "Hello World!":
    print(c)

H
e
l
l
o

W
o
r
l
d
!

In [48]:
for c in "Hello World!":
    print(c, end="\t")

H	e	l	l	o	 	W	o	r	l	d	!

to check whether given character is vowel or not

In [54]:
c = input().strip().lower()

if (c=="a") or (c=="e") or (c=="i") or (c=="o") or (c=="u"):
    print("it is vowel")
else:
    print("it is not vowel")

r
it is not vowel

In [56]:
c = input().strip().lower()

cond = [
    (c=="a"),
    (c=="e"),
    (c=="i"),
    (c=="o"),
    (c=="u")
]

if any(cond):
    print("it is vowel")
else:
    print("it is not vowel")

4
it is not vowel

`membership operator`

In [63]:
c = input().strip().lower()

if c in "aeiou":
    print("vowel")
else:
    print("not vowel")

k
not vowel

In [59]:
"rajat" in ["rajat", "nidhi", "simran"]

True

In [58]:
"a" in "yeeee yoooo"

False

write a python code to count no of vowels in a given string ? 

    vowels = ["a", "e", "i", "o", "u"]
    
    eg.
    
    INPUT
    
        s = "Hello World! Python is Awesome"
        
    OUTPUT
    
        there are 9 vowels in given string

In [65]:
count = 0
string = input()

for char in string:
    if char in "aeiouAEIOU":
        count += 1
else:
    print(f"There are {count} vowels in given string")

ha ha ha this is good
There are 7 vowels in given string

    each vowel frequency
    
        a - 3
        e - 0
        i - 2
        o - 2
        u - 0
    Total - 7

In [66]:
names = [ 'sachin', 'rajat', 'nidhi', 'simran', 'shivani', 'ravi']

In [67]:
for item in names:
    print(item)

sachin
rajat
nidhi
simran
shivani
ravi

In [71]:
sum([80, 56, 78])/3

71.33333333333333

In [68]:
data = [
    ["sachin", 70, 60, 80],
    ["rajat", 80, 90, 80],
    ["simran", 80, 56, 78]
]

Output: 

    sachin has got 70.00 % marks
    rajat has got 83.33 % marks
    simran has got 71.33 % marks

In [73]:
data = [
    ["sachin", 70, 60, 80],
    ["rajat", 80, 90, 80],
    ["simran", 80, 56, 78]
]

for student in data:
    #  item = ["sachin", 70, 60, 80]
    name = student[0]
    per = sum(student[1:])/3
    print(f"{name} has got {per:.2f} % marks")

sachin has got 70.00 % marks
rajat has got 83.33 % marks
simran has got 71.33 % marks

### Tuple Unpacking


    a, b = ('hi', 'hello')

In [77]:
t = ("hi", "hello")
a, b = t

print(a, b)

hi hello

In [83]:
product = [
    ("apple iphone 12", 50000),
    ("samsung s22", 70000),
    ("one plus 10 pro", 50000),
    ("moto g5", 15000)
]

In [84]:
for item in product:
    print(item)

('apple iphone 12', 50000)
('samsung s22', 70000)
('one plus 10 pro', 50000)
('moto g5', 15000)

In [86]:
def print_table(data):
    print("_"*63)
    print(f"|{'Name':^30}|{'Price':^30}|")
    print("_"*63)
    for name, price in data:
        print(f"|{name:^30}|{price:^30}|")
        print("-"*63)

In [87]:
print_table(product)

_______________________________________________________________
|             Name             |            Price             |
_______________________________________________________________
|       apple iphone 12        |            50000             |
---------------------------------------------------------------
|         samsung s22          |            70000             |
---------------------------------------------------------------
|       one plus 10 pro        |            50000             |
---------------------------------------------------------------
|           moto g5            |            15000             |
---------------------------------------------------------------

    range, enumerate, zip, iterable objects