### Iteration of Dictionaries using For Loop

In [1]:
info = {
    "name": "python",
    "type": "programming language",
    "website": "www.python.org",
    "father": "guido van rossum",
    "versions": ["1.X", "2.X", "3.X"]
}

In [4]:
for key in info:
    # key = "name", value = "python"
    value = info.get(key) # info[key]
    print(f"{key:>30} = {value}")

                          name = python
                          type = programming language
                       website = www.python.org
                        father = guido van rossum
                      versions = ['1.X', '2.X', '3.X']

**tuple unpacking in python**

In [11]:
x = 10
y = 20


x, y

(10, 20)

In [10]:
1, 2, 3, 4

(1, 2, 3, 4)

In [9]:
x = 5
y = 6

x,y=y,x
# x,y=(6, 5)
# swap

print(f"x = {x}")
print(f"y = {y}")

x = 6
y = 5

    tuple unpakcing
    
    tuple of varaibles = iterables

In [17]:
1, 2

(1, 2)

In [19]:
item = [ "Sachin Yadav", [45, 67, 89]]

(name, marks)= item

In [20]:
print(name)
print(marks)

Sachin Yadav
[45, 67, 89]

### Tuple upacking

    seq = [ (1, 2), (3,4) ]
       
    var = (1, 2)

    for var in seq:
        print(var)

In [21]:
item = [ "Sachin Yadav", [45, 67, 89]]

(name, (p, c, m)) = item

In [23]:
print(name)
print('physics: ', p)
print('chemistry: ', c)
print('maths: ', m)

Sachin Yadav
physics:  45
chemistry:  67
maths:  89

In [5]:
info = {
    "name": "python",
    "type": "programming language",
    "website": "www.python.org",
    "father": "guido van rossum",
    "versions": ["1.X", "2.X", "3.X"]
}

In [24]:
for (key, value) in info.items():
    print(f"{key:>20} = {value}")

                name = python
                type = programming language
             website = www.python.org
              father = guido van rossum
            versions = ['1.X', '2.X', '3.X']

In [8]:
for item in info.items(): # [("name", "python"), ("type", "programming language"), ..]
    print(item) # ("name", "python")

('name', 'python')
('type', 'programming language')
('website', 'www.python.org')
('father', 'guido van rossum')
('versions', ['1.X', '2.X', '3.X'])

    WAPP to print only values of dictionaries

In [7]:
for key in info.keys():
    print(key)

name
type
website
father
versions

In [6]:
for value in info.values():
    print(value)

python
programming language
www.python.org
guido van rossum
['1.X', '2.X', '3.X']

In [26]:
for ch in "string":
    print(ch.upper(), end=' ')

S T R I N G

In [28]:
from pprint import pprint

In [29]:
pprint(info)

{'father': 'guido van rossum',
 'name': 'python',
 'type': 'programming language',
 'versions': ['1.X', '2.X', '3.X'],
 'website': 'www.python.org'}

In [34]:
("name", "python") in info.items()

True

In [32]:
"name" in info.keys()

True

In [33]:
"python" in info.values()

True

In [30]:
"python" in info # ?

False

In [31]:
"name" in info

True

In [36]:
vowel = { "a": 0, "e": 0,
    "i": 0, "o": 0, "u": 0 }
count = 0
s = input("Enter a stirng: ").strip().lower()

for ch in s:
    if ch in vowel.keys():
        count += 1
        vowel[ch] += 1
else:
    print(f"Total number of vowels are {count}.")
    for k, v in vowel.items():
        print(f"{k:>10} = {v}")

Enter a stirng: yepii i know how to use for
Total number of vowels are 10.
         a = 0
         e = 2
         i = 3
         o = 4
         u = 1

### Built-in iterable objects

### range

    range is a built python function which can be used to generate
    a numerical iterable object

In [39]:
a = range(5) # a is range object which will generate number seq from 0-4
print(a)

range(0, 5)

In [40]:
print(*a)

0 1 2 3 4

In [41]:
print(*range(5))

0 1 2 3 4

In [43]:
print(*range(20), sep=", ")
# ?

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19

In [44]:
print(*range(11, 16))

11 12 13 14 15

    1-10 ?

In [45]:
print(*range(1, 11))

1 2 3 4 5 6 7 8 9 10

In [46]:
print(*range(91, 101, 3))

91 94 97 100

    write a single line of code in python to print table of a given number

In [49]:
num = int(input())
print(*range(num, num*10+1, num), sep="\n")
# replace this line with your code to print table of given number

13
13
26
39
52
65
78
91
104
117
130

    10 8 6 4 2 0 ?

In [50]:
print(*range(10, -1, -2))

10 8 6 4 2 0

In [6]:
# nrows = int(input("Enter number of rows: "))
# for n in range(1, nrows+1):
#     s = [str(c) for c in range(1, n+1)]
#     print("".join(s)) # ?

n = int(input("Enter a number : "))
for i in range(n+1):
    s = [str(j) for j in range(1,i+1)]
    print("".join(s))

Enter a number : 5

1
12
123
1234
12345

In [58]:
nrows = int(input("Enter number of rows: "))
for n in range(1, nrows+1):
    print(str(n)*n) # ?

Enter number of rows: 9
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [56]:
nrows = int(input("Enter number of rows: "))
fillchar = input("Fill character: ")
for n in range(1, nrows+1):
    print(fillchar*n) # ?

Enter number of rows: 10
Fill character: ^
^
^^
^^^
^^^^
^^^^^
^^^^^^
^^^^^^^
^^^^^^^^
^^^^^^^^^
^^^^^^^^^^

In [62]:
nrows = int(input("Rows: "))
for n in range(1, nrows+1):
    s = "*"*n
    print(s.rjust(10))

Rows: 10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [68]:
n = int(input("Enter number of rows"))
w = 2*n-1
for i in range(1, w+1, 2):
    s = "*"*i
    print(s.center(w, '-'))

Enter number of rows10
---------*---------
--------***--------
-------*****-------
------*******------
-----*********-----
----***********----
---*************---
--***************--
-*****************-
*******************

In [69]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

`enumerate(iterable)`


    it will iterate iterable with numbering

In [76]:
print(*enumerate("python"))

(0, 'p') (1, 'y') (2, 't') (3, 'h') (4, 'o') (5, 'n')

In [75]:
enumerate("python") # iterators / generators

In [70]:
names = ["rajat", "nidhi", "gaurav", "akhilesh", "ravi", "shivani", "yadvendra", 
        "simran", "sachin"]

    1. Rajat
    2. Nidhi

In [74]:
for i in range(len(names)):
    print(f"{i+1}. {names[i]}")

1. rajat
2. nidhi
3. gaurav
4. akhilesh
5. ravi
6. shivani
7. yadvendra
8. simran
9. sachin

In [73]:
c = 1
for name in names:
    print(f"{c}. {name.title()}")
    c +=1

1. Rajat
2. Nidhi
3. Gaurav
4. Akhilesh
5. Ravi
6. Shivani
7. Yadvendra
8. Simran
9. Sachin

In [77]:
print(*enumerate("Hello"))

(0, 'H') (1, 'e') (2, 'l') (3, 'l') (4, 'o')

In [82]:
s = "Hello World!"
for i,c in enumerate(s):
    print(f"{i} -> {c}")

0 -> H
1 -> e
2 -> l
3 -> l
4 -> o
5 ->
6 -> W
7 -> o
8 -> r
9 -> l
10 -> d
11 -> !

In [79]:
print(names)

['rajat', 'nidhi', 'gaurav', 'akhilesh', 'ravi', 'shivani', 'yadvendra', 'simran', 'sachin']

In [83]:
for sno, name in enumerate(names, 1):
    print(f"{sno}. {name}")

1. rajat
2. nidhi
3. gaurav
4. akhilesh
5. ravi
6. shivani
7. yadvendra
8. simran
9. sachin

In [85]:
pprint(info)

{'father': 'guido van rossum',
 'name': 'python',
 'type': 'programming language',
 'versions': ['1.X', '2.X', '3.X'],
 'website': 'www.python.org'}

In [97]:
print("-"*66)
for (sno, (key, value)) in enumerate(info.items(), 1):
    print(f"|{str(sno):^10}| {str(key):^20}| {str(value):^30}|")
    print("-"*66)

------------------------------------------------------------------
|    1     |         name        |             python            |
------------------------------------------------------------------
|    2     |         type        |      programming language     |
------------------------------------------------------------------
|    3     |       website       |         www.python.org        |
------------------------------------------------------------------
|    4     |        father       |        guido van rossum       |
------------------------------------------------------------------
|    5     |       versions      |     ['1.X', '2.X', '3.X']     |
------------------------------------------------------------------

**zip**

    how to use zip using for loop

### User Defined Functions in Python